#categories h3 {
	float: left;
	padding: 4px;
	margin-right: 3px;
	border: 1px solid black;
	border-bottom: none;
	background-color: #eee;
	cursor: pointer;

}
#categories h3.active {
	background-color: white;
}
#categories ul {
	display: none;
	border: 1px solid black;
	width: 240px; 
}
#categories ul.active {
	display: block;
	position: absolute;
	margin-top: 34px;
}